body {
  margin: 55px;
}

h1 {
  color: #9064d6;
  text-align: center;
  margin: 25px 0 0 0;
  margin-bottom: 0px;
  font-size: 60px;
  font-family: "Raleway", sans-serif;
}
ul {
  list-style-type: none;
  font-size: 20px;
  color: #3a444e;
  font-family: "Inconsolata", monospace;
}
.container {
  background-color: #c5def8;
  border-radius: 10px;
  padding: 50px;
}
.dayTime {
  color: #9064d6;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  margin: 8px 0;
  text-align: center;
}
.temp {
  position: relative;
  top: -22px;
  text-align: center;
  font-size: 50px;
  color: #9064d6;
}
.celciusAndFarenheight {
  color: #9064d6;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  position: relative;
  top: -20px;
}
.conditions {
  padding: 0;
}

.forecast {
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 0px 1px 2px #7990aa;
  padding: 0px 10px;
  color: #2c3e5e;
}
.day {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
}

.forecastTemp {
  text-align: center;
}

.footer {
  text-align: center;
  font-family: "Inconsolata", monospace;
  color: #4b3bf7;
}

#search {
  color: #7990aa;
  font-size: 16px;
  font-family: "Inconsolata", monospace;
}
#submit-button {
  color: white;
  background: #4c96e0;
  border: 1px solid #4c96e0;
  border-radius: 10px;
  box-shadow: 0px 1px 2px #7990aa;
  font-size: 16px;
  font-family: "Inconsolata", monospace;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all 200ms ease-in-out;
}
#farenheight,
#celcius {
  color: #9064d6;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
#description {
  color: #9064d6;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  margin: 0;
  text-align: center;
  position: relative;
  top: -50px;
}
#forecast-icon {
  text-align: center;
}
#forecast-high {
  font-size: 20px;
}
.search:hover {
  cursor: text;
}
#submit-button:hover {
  cursor: pointer;
  background: #e4f1fe;
  color: #4c96e0;
}
.gitHubLink:visited {
  color: #4b3bf7;
}
